.login {
	background-color: #eee;
	opacity: 0.9;

   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

}
.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}
